.searchBar{
    width: 100%;
}

.title{
    color: blue;
}
.buttonHome{
    width: 33%;
    color: white;
    background-color: blue;
    
}
.buttonAbout{
    width: 33%;
    color: white;
    background-color: blue;
    
}
.buttonSettings{
    width: 33%;
    color: white;
    background-color: blue;
    
}
.toolbar{
    text-align: center;
}
.content{
    background-image: url(../../../assets/images/day-clear-clouds.jpeg) 0 0/100% 100% no-repeat;
    background-color: aquamarine;
}