<ion-header>
    <ion-toolbar color="primary" class="toolbar">
      <ion-label >About</ion-label>
    </ion-toolbar>
  </ion-header>

  

  <ion-content padding class="content">
      <ion-buttons>
        <ion-button  expand="block" 
        fill="clear" routerLink="/home" class="buttonHome" ><ion-icon name="home"></ion-icon>Home</ion-button>
    
        <ion-button expand="full"
        fill="clear" routerLink="/about" class="buttonAbout"><ion-icon name="information-circle"></ion-icon>About</ion-button>
    
        <ion-button  expand="block"
        fill="clear" routerLink="/settings" class="buttonSettings"><ion-icon name="cog"></ion-icon>Settings</ion-button>
    
      </ion-buttons>

    </ion-content>
  
  
  
  