<ion-tabs>
    <ion-tab-bar slot="top" color="primary">
      <ion-label>About</ion-label>
    </ion-tab-bar>
  </ion-tabs>
  
  
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" routerLink='/home' routerDirection="root">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Home</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="about" routerLink='/about' routerDirection="root">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="settings" routerLink='/settings' routerDirection="root">
        <ion-icon name="cog"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>