<ion-header>
    <ion-toolbar color="primary" class="toolbar">
      <ion-label >Home</ion-label>
    </ion-toolbar>
  </ion-header>


<ion-content padding color="light">
  <ion-buttons>
    <ion-button  expand="block" 
    fill="clear" routerLink="/home" class="buttonHome" ><ion-icon name="home"></ion-icon>Home</ion-button>

    <ion-button expand="full"
    fill="clear" routerLink="/about" class="buttonAbout"><ion-icon name="information-circle"></ion-icon>About</ion-button>

    <ion-button  expand="block"
    fill="clear" routerLink="/settings" class="buttonSettings"><ion-icon name="cog"></ion-icon>Settings</ion-button>

  </ion-buttons>


    
    <div class="notMobile">
      <!--Displays the day time image if the time is less than 18(6pm) or display the night time image otherwirse-->
        <div [ngClass]="(ampm < 18)?'container':'container-night'">
    
          <div class="header">
            <div class="city">{{cityName}}</div>
            <div class="country">{{country}}</div>
            <div class="condition">{{weather}}</div>
            <div class="temp">Temp: {{(temp)}}&deg;</div>
          </div>

          <div class="info">
              <div class="label">
                <p>Day: {{day}}</p>
              </div>
            </div>  

          <div class="lineOneOne"></div>

          <div class="data">
              <div class="high">
                <p>Max Temp: {{tempMax}}&deg;</p>
                </div>
            </div>

            <div class="lineOne"></div>

            <div class="data">
                <div class="low">
                 <p> Min Temp: {{tempMin}}&deg;</p>
                </div>
              </div> 
          

          <div class="lineTwo"></div>


          <div class="iconImg1"><img src="{{icon}}" alt="" class="iconImg" ></div>
          

          <div class="info">
              <div class="label">
                  <p>Looks Like: {{looksLike}}</p>
              </div>
            </div>

            <div class="lineThree"></div>  
            
            <div class="info">
              <div class="label">
                <p>Wind Speed: {{windSpeed}}</p>
              </div>
            </div>     
          
      </div>
    </div>   

</ion-content>