.title{
    color: blue;
}
.buttonHome{
    width: 33%;
    color: white;
    background-color: blue;
    
}
.buttonAbout{
    width: 33%;
    color: white;
    background-color: blue;
    
}
.buttonSettings{
    width: 33%;
    color: white;
    background-color: blue;
    
}
.toolbar{
    text-align: center;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
  color: white;
  font-family: 'Montserrat', sans-serif;
  animation: clouds 5000ms infinite;
  background-image: linear-gradient(to bottom, transparent, rgba(196, 222, 255, 0.623)), url(../../../assets/images/clouds-dayTime.jpg);
  -webkit-animation: clouds 200s linear infinite;
  background-size: 50%;

}

.container-night {
  color: white;
  font-family: 'Montserrat', sans-serif;
  animation: clouds 5000ms infinite;
  background-image: linear-gradient(to bottom, transparent, rgba(196, 222, 255, 0.623)), url(../../../assets/images/nightsky.jpg);
  -webkit-animation: clouds 200s linear infinite;
  background-size: 50%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city {
  margin-top: 1.2em;
  font-size: 3.2em;
  font-weight: bolder;
}

.country {
  margin-top: .2em;
  font-size: 1.2em;
  font-weight: bolder;
}

.condition {
  margin-top: .5em;
  font-size: 2em;
}

.temp {
  margin-top: .3em;
  font-size: 3.5em;
}

.data {
  display: flex;
  justify-content: space-around;
  height: 2em;
  align-items: center;
  margin-left: 1.3em;
  margin-bottom: 1.1em;  
}
.high p{
  justify-content: space-around;
  width: 10em;
  text-align: center;
  font-size: 2.5em;
}
.low p{
  justify-content: space-around;
  width: 10em;
  text-align: center;
  font-size: 2.5em;
}

.lineOneOne {
  margin: 3em auto;
  height: .2em;
  background: white;
  width: 60%;
}

.lineOne {
  margin: 3em auto;
  height: .2em;
  background: white;
  width: 60%;
}

.lineTwo {
  margin: 3em auto ;
  height: .2em;
  background: white;
  width: 60%;
}

.info {
  margin: .5em 1em;
}

.label {
  display: flex;
  justify-content: space-around;
  height: 2em;
  align-items: center;
  margin-left: 1.3em;
  margin-bottom: 1.1em;
}

.label p{
  width: 10em;
  text-align: center;
  font-size: 2.5em;
}

.infoName {
  display: flex;
  justify-content: space-around;
  height: 2em;
  align-items: center;
  margin-left: 1.3em;
  text-align: center;
}

.infoName p {
  font-size: 2.5em;
  width: 10em;
}
.lineThree {
  height: .25em;
  background: white;
  width: 60%;
  margin: 3em auto;
}



.changeBtn {
  display: block;
  position: relative;
  left: 80%;
  bottom: 9px;
}

.iconImg{
    font-size: 50px;
    width: 100px;
    height: 100px;
}
.iconImg1{
    text-align: center;
}

.unit {
  position: relative;
  transform: translateX(-1.5em);
  font-size: .2em;
}


@media only screen and (min-width: 400px) {
  .notMobile {
    margin: 0 auto;
    position: relative;
    width: 99%;
    background: -webkit-linear-gradient(-45deg, #f6f8f9 0%,#cbd0d3 50%,#979b9e 51%,#8b8e91 100%);
    box-shadow: 2px 2px 10px gray;
  }
}
